.button {
  padding: 5px 10px;
  font-size: 16px;
  border-color: transparent;
  outline: none;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.91);
}
.button:hover {
  background-color: royalblue;
  cursor: pointer;
}
.buttonsBox {
  display: flex;
  justify-content: space-around;
}
.good {
  background-color: green;
}
.bad {
  background-color: red;
}
.neutral {
  background-color: orange;
}
